extends layout

block content

  if user
    p.welcome Welcome 
      span.welcome__user #{user.name} 
      if user.memberStatus === 'non-member'
        span.non-member (#{user.memberStatus})
      if user.memberStatus === 'member'
        span.member (#{user.memberStatus})
      if user.memberStatus === 'admin'
        span.admin (#{user.memberStatus})
    .info
      p.info__item 
        span.non-member Non-members 
        | can't see the author and date of message.
      p.info__item 
        span.member Members 
        | can see everything.
      p.info__item 
        span.admin Admins 
        | can delete any message.
