extends layout

block content

  if currentUser
    p.welcome Welcome 
      span.welcome__user #{currentUser.name} 
      if currentUser.memberStatus === 'non-member'
        span.non-member (#{currentUser.memberStatus})
      if currentUser.memberStatus === 'member'
        span.member (#{currentUser.memberStatus})
      if currentUser.memberStatus === 'admin'
        span.admin (#{currentUser.memberStatus})
  .info
    p.info__item 
      span.non-member Non-members 
      | can't see the author and date of message.
    p.info__item 
      span.member Members 
      | can see everything.
    p.info__item 
      span.admin Admins 
      | can delete any message.


