body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

.background {
  background: linear-gradient(to top right, #00B7FF 0%,#6c4079 100%);
  min-height: 100vh;
  width: 100%;
}
.wrapper {
  max-width: 680px;
  margin: 70px auto;

}

.card {
  background-color: #fff;
  border-radius: 10px;
}

.card-body {
  padding: 57px 65px;
}
.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: inline-block;
  margin-bottom: .5rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 2rem;
}

.form-col {
  width: calc((100% - 30px) / 2);
}

.form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fafafa;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
  padding: .5rem 1rem;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
}

.btn.primary {
  background-color: #4272d7;
  color: #fff;
}

ul.error-list {
  background-color: #f8d7da;
  padding: .5rem 2rem;
  border-radius: 10px;
  color: #721c24;
}

header {
  width: 100%;
  background-color: #fff;
  max-height: 100px;
  margin: auto;

  margin-bottom: 4rem;
  box-shadow: 1px 1px 4px 0px darkgray;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .25rem 2rem;
}
.header__title {
  color: #262626;
  text-decoration: none;
  font-size: 1.5rem;
}
.header__span {
  color: #1E40AF;
  font-weight: bold;
}
.menu {
  display: flex;
  gap: 16px;
}

.menu__item {
  list-style: none;
  padding: 0 8px;
  display: flex;
  align-items: flex-end;
  gap: 4px;
}
.menu__link {
  color: #262626;
  text-decoration: none;
  font-size: 1rem;
}

.menu__icon {
  width: 24px;
}


.welcome {
  font-size: 1.4rem;
}

.welcome__user {
  font-weight: bold;
}

.info__item {
  font-size: 1.2rem;
}

.admin {
  color: #DC2626;
  font-weight: bold;
}

.non-member {
  color: #FACC15;
  font-weight:bold;
}

.member {
  color: #4ADE80;
  font-weight:bold;
}

.message {
  position: relative;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  padding: 4px;
  margin: 10px 0;

  width: 100%;
  background-color: #BFDBFE;
  border-radius: 10px;
}

.message__body {
  padding: 8px;
}

.message__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.message__content {
  font-size: 1.2rem;
}
.message__title {
  font-size: 1.2rem;
}
.message__date {
  font-size: .9rem;
}

.message__footer {
  display: flex;
  justify-content: flex-end;
}

.message__author {
  font-weight: bold;
}

.message__del {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: transparent;
  color: #000;
  text-decoration: none;
}

.message__del:hover {
  opacity: .6;
}
